/* body {
    position: relative;
} */

h1,
.login {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid #ccc; */
}

h1 {
    top: 200px;
}

.login {
    width: 400px;
    height: 300px;
    top: 250px;
    text-align: center;
}

.login .uuid,
.login .pwd {
    width: 390px;
    height: 50px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    margin-top: 20px;
}

.login .sub {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    width: 100px;
    height: 50px;
    color: #000;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 5px;
    transition: background-color 1s;
}

.login .sub:hover {
    background-color: red;
}